@import 'tailwindcss';

.beer-card {
  @apply bg-gradient-to-b from-[#e0eafc] to-[#cfdef3] rounded-lg p-2 shadow-lg transition-transform duration-300 hover:-translate-y-2;
}

.beer-definition-list {
  @apply grid gap-x-1 gap-y-2 grid-cols-[auto,1fr];

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 16px;
    align-items: baseline;
  }

  dt {
    @apply font-semibold text-[#555] col-[1];
  }

  dd {
    @apply m-0 col-[2];
  }
}
